@font-face {
  font-family: 'Dosis';
  src: url(../Fonts/Dosis-VariableFont_wght.ttf);
}

body{
  font-family: 'Dosis';
}

.homeImg{
    background-image: url(../assets/bgIMG.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto)  
}

.textFormat{
  color: white;
  font-size: 80px;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}









